.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  padding-left: 0px;
}
@media (min-width: 992px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 476px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 476px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
    max-width: 100%;
  }
}
/* @media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
} */
@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%;
  }
}
